header {
	font-family: 'Orbitron', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
}

.intro {
	font-family: 'Oswald', sans-serif;
}

.column-header {
	font-family: 'Open Sans', sans-serif;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}

.skills {
	font-family: 'Roboto', sans-serif;
}

footer {
	font-size: .75em;
	background-color: #555;
	color: lightgray;
}

@media screen and (max-width: 767px) {
	header {
		
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	
}
